* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}
/* Heeder */
.logo {
  width: auto;
  height: 50px;
  padding-right: 900px;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.h,
.b,
.c {
  padding-right: 60px;
}
h1 {
  padding-top: 20px;
}

/* Moteur de recherche */

.search-title {
  display: flex;
  flex-direction: column;
}
.search-moteur {
  display: flex;
  margin-top: 20px;
}
.search-moteur i {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  text-align: center;
  border: solid 1px black;
}

.recherche {
  height: 50px;
  width: 300px;
}
.search-button {
  border-radius: 0 15px 15px 0;
  background-color: blue;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 5px;
  width: 120px;
}

.filtre {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 40%;
  align-items: center;
}
.filtre i {
  border-radius: 50%;
  padding: 20px;
  background-color: #deebff;
}

button {
  border-radius: 40px;
  padding-right: 10px;
  background-color: white;
  border: solid 2px #f2f2f2;
}
.infos {
  padding-top: 20px;
}

/* hébergement marseille */
.room {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-right: 10px;
}
.hébergementmarseille {
  background-color: #f2f2f2;
  border-radius: 10px;
  flex: 70%;
  margin-right: 80px;
  padding: 20px;
}
.blockA {
  display: flex;
  flex-wrap: wrap;
}
.blockA > * {
  flex: 1 1 23.3%;
  margin: 10px;
}

.block {
  border: 2px solid white;
  height: 170px;
  flex: 23.3%;
  border-radius: 10px;
}
.auberge {
  object-fit: cover;
  height: 100px;
  width: 100%;
  border-radius: 10px;
}
/* les plus populaire */
.populaire {
  background-color: #f2f2f2;
  border-radius: 10px;
  flex: 30%;
  padding: 30px;
}
.blockB {
  height: 100px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block1 {
  display: flex;
  height: 90px;
  flex: 33.3%;
  border-radius: 10px;
  margin: 10px;
  border: solid 2px white;
}
.nuit {
  display: flex;
  flex-direction: column;
}
.star {
  padding-top: 10px;
}
.auberge1 {
  object-fit: cover;
  height: 100%;
  width: 30%;
  border-radius: 10px;
}
/* activité des hebergements */
.activité {
  border-radius: 10px;
  padding-top: 100px;
}
.blockC {
  display: flex;
  justify-content: space-around;
  flex: 100%;
  padding-top: 20px;
}
.block2 {
  border: solid 2px black;
  height: 225px;
  flex: 60%;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}
.block3 {
  border: solid 2px black;
  height: 110px;
  flex: 10%;
  border-radius: 10px;
}

.auberge2 {
  object-fit: cover;
  height: 185px;
  width: 100%;
  border-radius: 10px;
}
.auberge3 {
  object-fit: cover;
  height: 80px;
  width: 100%;
  border-radius: 10px;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: solid 1px gray;
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 60px;
}

.propos,
.noshebergement,
.assistance {
  padding-right: 200px;
  display: flex;
  flex-direction: column;
}

/* responsive */
