* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}
/* Heeder */
.logo {
  width: auto;
  height: 50px;
  padding-right: 900px;
}
nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.h,
.b,
.c {
  padding-right: 60px;
}

/* Moteur de recherche */

.search {
  display: flex;
  flex-direction: column;
}

.recherche {
  border-radius: 10px;
  height: 30px;
  width: 300px;
}

.filtre {
  display: flex;
  justify-content: space-between;
  margin-right: 500px;
  padding-top: 10px;
}

button {
  border-radius: 20px;
  padding: 12px;
}

/* hébergement marseille */
.room {
  display: flex;
  justify-content: space-between;
}
.hébergementmarseille {
  border: 2px solid red;
  background-color: gray;
  border-radius: 10px;
}
.blockA {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  padding-top: 10px;
  height: 250px;
  width: 870px;
}
.blockA > * {
  flex: 1 1 200px;
  margin: 10px;
}

.block1 {
  border: 2px solid green;
  height: 80px;
  width: 100px;
  background-color: green;
  border-radius: 10px;
}
.block2 {
  border: 2px solid red;
  height: 80px;
  width: 100px;
  background-color: red;
  border-radius: 10px;
}
.block3 {
  border: 2px solid yellow;
  height: 80px;
  width: 100px;
  background-color: yellow;
  border-radius: 10px;
}
.block4 {
  border: 2px solid blue;
  height: 80px;
  width: 100px;
  background-color: blue;
  border-radius: 10px;
}
.block5 {
  border: 2px solid pink;
  height: 80px;
  width: 100px;
  background-color: pink;
  border-radius: 10px;
}
.block6 {
  border: 2px solid brown;
  height: 80px;
  width: 100px;
  background-color: brown;
  border-radius: 10px;
}
/* les plus populaire */
.populaire {
  border: 2px solid red;
  background-color: gray;
  margin-right: 20px;
  border-radius: 10px;
}
.blockB {
  height: 250px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block7 {
  border: 2px solid red;
  height: 80px;
  width: 100px;
  background-color: red;
  border-radius: 10px;
}
.block8 {
  border: 2px solid brown;
  height: 80px;
  width: 100px;
  background-color: brown;
  border-radius: 10px;
}
.block9 {
  border: 2px solid yellow;
  height: 80px;
  width: 100px;
  background-color: yellow;
  border-radius: 10px;
}

/* activité des hebergements */
.activité {
  border: 2px solid red;
  background-color: gray;
  margin-right: 20px;
  border-radius: 10px;
}
.blockC {
  display: flex;
  justify-content: space-around;
}
.block10 {
  border: 2px solid red;
  height: 80px;
  width: 100px;
  background-color: red;
  border-radius: 10px;
}
.block11 {
  border: 2px solid brown;
  height: 80px;
  width: 100px;
  background-color: brown;
  border-radius: 10px;
}
.block12 {
  border: 2px solid yellow;
  height: 80px;
  width: 100px;
  background-color: yellow;
  border-radius: 10px;
}
.block13 {
  border: 2px solid green;
  height: 80px;
  width: 100px;
  background-color: green;
  border-radius: 10px;
}
.block14 {
  border: 2px solid blue;
  height: 80px;
  width: 100px;
  background-color: blue;
  border-radius: 10px;
}
.block15 {
  border: 2px solid pink;
  height: 80px;
  width: 100px;
  background-color: pink;
  border-radius: 10px;
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-top: 2px solid gray;
}

.propos,
.noshebergement,
.assistance {
  padding-right: 200px;
  display: flex;
  flex-direction: column;
}

/* responsive */
