html,
h1,
h2,
h3,
body,
div,
img,
a,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway";
  margin: 10px;
}
a {
  text-decoration: none;
  color: black;
}

/* Header */
.logo {
  flex-grow: 1;
}
nav {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}
.navigation a:hover {
  color: #0164fc;
  border-top: solid 2px #0164fc;
  padding-top: 15px;
}
.navigation a {
  border-top: solid 2px transparent;
  padding-top: 15px;
}

.hebergement,
.activite,
.inscrire {
  padding-right: 60px;
}

p {
  font-weight: bold;
}

/* Moteur de recherche */

.soustitre {
  padding-top: 10px;
}

.search-title {
  display: flex;
  flex-direction: column;
}
.search-moteur {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.search-moteur i {
  padding: 17px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  color: black;
}

.recherche {
  height: 50px;
  border: solid 1px #f2f2f2;
  outline: none;
  font-size: 110%;
  text-align: center;
}

.search-button {
  border-radius: 0 15px 15px 0;
  background-color: blue;
  color: white;
  cursor: pointer;
  text-align: center;
  padding: 17px;
  width: 120px;
  border: blue;
}
.fas {
  color: #0164fc;
}
.far {
  color: gray;
}

.filtre {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.filtre i {
  border-radius: 50%;
  padding: 20px;

  background-color: #deebff;
}

button {
  border-radius: 40px;
  background-color: white;
  border: solid 2px #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 15px;
  cursor: pointer;
  transition-duration: 1s;
}

.f {
  margin-right: 40px;
  font-weight: bold;
}
.infos {
  display: flex;
  padding-top: 20px;
  align-items: center;
}
.fa-info {
  border: solid 1px #f2f2f2;
  border-radius: 300px;
  padding: 10px;
}

/* hébergement marseille */
.room {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-right: 10px;
}
.hebergementmarseille {
  background-color: #f2f2f2;
  border-radius: 10px;
  flex: 70%;
  margin-right: 80px;
  padding: 20px;
}
.blockA {
  display: flex;
  flex-wrap: wrap;
}

.block {
  box-shadow: 0 0 20px #0000002e;
  border: solid 5px white;
  height: 170px;
  border-radius: 20px;
  background-color: white;
  flex: 23%;
  margin: 10px;
}
.auberge {
  object-fit: cover;
  height: 100px;
  width: 100%;
  border-radius: 10px;
}
.afficher {
  padding: 10px;
}
/* les plus populaire */
.populaire {
  background-color: #f2f2f2;
  border-radius: 10px;
  flex: 30%;
  padding: 30px;
}
.text {
  display: flex;
  justify-content: space-between;
}
.text i {
  color: black;
}
.blockB {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.block1 {
  box-shadow: 0 0 20px #0000002e;
  display: flex;
  height: 90px;
  border-radius: 10px;
  margin: 10px;
  border: solid 2px white;
}
.nuit {
  display: flex;
  flex-direction: column;
}
.star {
  padding-top: 10px;
}
.auberge1 {
  object-fit: cover;
  height: 100%;
  width: 30%;
  border-radius: 10px;
}
/* activité des hebergements */
.activité {
  border-radius: 10px;
  padding-top: 100px;
}
.blockC {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.block2 {
  box-shadow: 0 0 20px #0000002e;
  border-radius: 60%;
  height: 500px;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 50px;
  font-weight: bold;
}
.block3 {
  border: solid 2px #f2f2f2;
  box-shadow: 0 0 20px #0000002e;
  height: 220px;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 50px;
  font-weight: bold;
}

.auberge2 {
  object-fit: cover;
  height: 450px;
  width: 100%;
  border-radius: 10px;
}
.auberge3 {
  object-fit: cover;
  height: 175px;
  width: 100%;
  border-radius: 10px;
}

/* footer */
footer {
  display: flex;
  border-top: solid 1px #f2f2f2;
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 60px;
}

.liens {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.propos,
.noshebergement,
.assistance {
  padding-right: 20%;
}

/* 
responsive 
*/

/* 
les plus populaire au dessus d'hebergement a l'horizontale 
*/

@media (max-width: 1024px) {
  .block {
    flex: 40%;
  }
}
@media (max-width: 768px) {
  .propos,
  .noshebergement,
  .assistance {
    padding-right: unset;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
  }
  .blockC {
    flex-direction: column;
  }
  .filtre {
    flex-wrap: wrap;
  }
  .room {
    flex-direction: column-reverse;
  }
  .block {
    flex: 100%;
  }
  nav {
    flex-wrap: wrap-reverse;
  }
  .hebergementmarseille {
    margin-right: unset;
    margin-top: 30px;
  }
  .block2 {
    height: 220px;
  }
  .auberge2 {
    height: 175px;
  }

  footer {
    flex-wrap: wrap;
  }
}
/*
 * les ecrans 4K
 */
@media (min-width: 2000px) {
  .wrapper {
    max-width: 2000px;
  }
}
